.exploreCoverImg {
    width: 100%;
    height: 30rem;
    position: relative;
}

.expolreCoverText {
    position: absolute;
    top: 20.7rem;
    left: 25.7rem;
    font-size: 44.9px;
    color: white;
    text-transform: capitalize;
    font-family: 'Merriweather', serif;
}

.exploredCities {
    display: grid;
    gap: 10px;
    grid-template-columns: auto auto auto auto;
    padding: 10px;
    grid-auto-rows: 1fr;
}

.exploredCities>div {
    position: relative;
}

.exploredCities>div>img {
    object-fit: cover;
    cursor: pointer;
}

.exploredCities>div:nth-child(1) {
    grid-row: 1/3;
    grid-column: 1/3;
}

.charminar {
    width: 600px;
    height: 670px;
    position: relative;
}

.exploredCities>div:nth-child(2) {
    grid-column: 3/5;
}

.dudhsagar {
    width: 44.6rem;
    height: 20.5rem;
    position: relative;
}

.exploredCities>div:nth-child(6) {
    grid-column: 2/5;
}

.lalbagh {
    width: 52.4rem;
    height: 20rem;
    position: relative;
}

.goldtemp {
    width: 22.5rem;
    height: 20.5rem;
    position: relative;
}

.hawamahal {
    width: 21.1rem;
    height: 20.3rem;
    position: relative;
}

.kanchanjangha {
    width: 30rem;
    height: 20rem;
    position: relative;
}

.exploredCities>div:nth-child(1)>div {
    position: absolute;
    color: white;
    top: 24.7rem;
    left: 8.3rem;
    font-size: 30px;
}

.exploredCities>div:nth-child(2)>div {
    position: absolute;
    color: white;
    top: 10rem;
    left: 13rem;
    font-size: 29.8px;
}

.exploredCities>div:nth-child(3)>div {
    position: absolute;
    color: white;
    top: 12rem;
    left: 1.6rem;
    font-size: 20px;
}

.exploredCities>div:nth-child(4)>div {
    position: absolute;
    color: white;
    top: 12rem;
    left: 5.4rem;
    font-size: 20px;
}

.exploredCities>div:nth-child(5)>div {
    position: absolute;
    color: white;
    top: 13.8rem;
    left: 5.5rem;
    font-size: 23.6px;
}

.exploredCities>div:nth-child(6)>div {
    position: absolute;
    color: white;
    top: 13.6rem;
    font-size: 28.1px;
    left: 18.9rem;
}


/* RESPONSIVE ********************************/
@media screen and (max-width:1024px) {
    .expolreCoverText {
        left: 15.7rem;
    }

    .charminar {
        width: 507.5px;
        height: 665.5px;
    }

    .dudhsagar {
        width: 29.1rem
    }

    .kanchanjangha {
        width: 28.8rem;
    }

    .hawamahal {
        width: 13.6rem;
    }

    .goldtemp {
        width: 14.3rem;
    }

    .lalbagh {
        width: 32.8rem;
    }

    .exploredCities>div:nth-child(6)>div {
        left: 10rem;
    }

    .exploredCities>div:nth-child(2)>div {
        left: 5.3rem;
    }

    .exploredCities>div:nth-child(1)>div {
        left: 5.6rem;
    }

    .exploredCities>div:nth-child(4)>div {
        left: 1.4rem;
        font-size: 19.3px;
    }
}

@media screen and (max-width:768px) {
    .expolreCoverText {
        left: 8.8rem;
    }

    .exploredCities {
        display: flex;
        flex-wrap: wrap;
    }

    .charminar,
    .dudhsagar,
    .goldtemp,
    .hawamahal,
    .kanchanjangha,
    .lalbagh {
        width: 363.9px;
        height: 252px;
    }

    .exploredCities>div:nth-child(6)>div {
        left: 5rem;
        top: 9.5rem;
        font-size: 20.5px;
    }

    .exploredCities>div:nth-child(5)>div {
        top: 9.7rem;
        left: 3.8rem;
        font-size: 20.5px;
    }

    .exploredCities>div:nth-child(4)>div {
        left: 7rem;
        top: 10.4rem;

    }

    .exploredCities>div:nth-child(3)>div {
        top: 10.3rem;
        left: 2.9rem;
    }

    .exploredCities>div:nth-child(2)>div {
        font-size: 20.5px;
        left: 5rem;
    }

    .exploredCities>div:nth-child(1)>div {
        top: 10rem;
        left: 3.4rem;
        font-size: 20.5px;
    }

}

@media screen and (max-width:425px) {
    .expolreCoverText {
        left: 1.7rem;
        font-size: 32.4px;
    }
    
    .charminar,
    .dudhsagar,
    .goldtemp,
    .hawamahal,
    .kanchanjangha,
    .lalbagh {
        width: 403.9px;
        height: 252px;
    }
}
@media screen and (max-width:375px) {
    .expolreCoverText {
        font-size: 28.2px;
    }
    
    .charminar,
    .dudhsagar,
    .goldtemp,
    .hawamahal,
    .kanchanjangha,
    .lalbagh {
        width: 357px;
        height: 252px;
    }
}
@media screen and (max-width:320px) {
    .expolreCoverText {
        font-size: 24.3px;
    }
    
    .charminar,
    .dudhsagar,
    .goldtemp,
    .hawamahal,
    .kanchanjangha,
    .lalbagh {
        width: 303.8px;
        height: 252px;
    }
    .exploredCities>div:nth-child(6)>div{
        left: 3.9rem;
    }
    .exploredCities>div:nth-child(5)>div{
        left: 1.5rem;
    }
    .exploredCities>div:nth-child(4)>div{
        left: 4.2;
    }
    .exploredCities>div:nth-child(3)>div{
        left: 0.1rem;
    }
    .exploredCities>div:nth-child(2)>div{
        left: 3rem;
    }
}