.coverpic {
    text-align: center;
    position: relative;
}

.coverpic img {
    width: 100%;
    height: 34.3rem;
}

.header {
    position: relative;
}

.headline {
    position: absolute;
    top: 1.7rem;
    left: 4.1rem;
}

.headline p:nth-of-type(1) {
    text-transform: capitalize;
    font-family: 'Merriweather', serif;
    font-size: 3.2rem;
    font-weight: bold;
    line-height: 4.8rem;
    color: #090909;
}

.headline p:nth-of-type(2) {
    text-transform: capitalize;
    font-size: 17px;
    font-weight: 600;
    margin: -30px 0 35px 0;
    font-family: 'Merriweather', serif;
    color: #090909;
}

.searchItems {
    display: flex;
    background-color: white;
    width: 55rem;
    height: 2.5rem;
    align-items: center;
    justify-content: space-around;
    position: absolute;
    top: 32.8rem;
    left: 13.8rem;
    border: 4px solid #d7b23a;
    border-radius: 1rem;
}

.searchProducts {
    display: flex;
    align-items: center;
    gap: 10px;
}

.searchProducts input {
    border: none;
    outline: none;
}

.search:hover {
    cursor: pointer;
}

.header-icon {
    color: gray;
    cursor: pointer;
    width: 20px;
    height: 20px;
}

.date {
    position: absolute;
    top: 2.5rem;
    left: 12rem;
    z-index: 2;
}

.optionsItem {
    position: absolute;
    top: 2.7rem;
    right: 4.2rem;
    padding: 0 21px;
    background-color: white;
    box-shadow: 5px #090909;
    z-index: 2;
}

.optionsItem div {
    display: flex;
    gap: 1rem;
    align-items: center;
}

.optionsItem button {
    width: fit-content;
    height: fit-content;
    cursor: pointer;
    background-color: white;
    border: 1px solid rgb(28, 48, 129);
    margin: 0 4px;
}

.optionsItem div p:nth-of-type(1) {
    flex: 1;
}

.optionsItem div p:nth-of-type(2) {
    flex: 2;
    text-align: right;
}

.headerSearchText {
    font-size: 13px;
}

/* RESPONSIVE ***************************************/
@media screen and (max-width:1024px) {
    .searchItems {
        left: 3.9rem;
    }
}

@media screen and (max-width:768px) {
    .searchItems {
        left: 3rem;
        width: 40.5rem;
    }
}

@media screen and (max-width:425px) {
    .headline {
        left: 2rem;
    }

    .headline p:nth-of-type(1) {
        font-size: 2.6rem;
    }

    .searchItems {
        left: 0.2rem;
        width: 25.6rem;
        top: 31.5rem;
        height: 3.7rem;
    }

    .date {
        left: 4.7rem;
    }
    

}

@media screen and (max-width:375px) {
    .headline p:nth-of-type(1) {
        font-size: 2rem;
        line-height: 4.7rem;
    }

    .searchItems {
        left: 1.4rem;
        width: 20.2rem;
        top: 27.7rem;
        padding: 5px 0;
        height: 7.1rem;
        display: flex;
        flex-direction: column;
        gap: 7px;
    }
}

@media screen and (max-width:320px) {
    .headline {
        left: 0.8rem;
    }

    .headline p:nth-of-type(1) {
        font-size: 1.7rem;
        line-height: 3.3rem;
    }

    .headline p:nth-of-type(2) {
        font-size: 15.9px;
        margin: -5.1px 0 35px 0;
    }

    .searchItems {
        left: 1rem;
        width: 17.3rem;
    }
}