
.cityhomestay1 img{
    width: 18.9rem;
    height: 12rem;
}
.card{
    margin-bottom: 1rem;
}
.card-subtitle{
    margin: -15px 0 28px 0;
    font-size: 13px;
    font-weight: 500;
    color: #4a3f3f;
}
.card-text{
    font-size: 12.8px;
}
.ratings{
    display: flex;
    margin-top: -17.5px;
    align-items: center;
}
.ratings p button{
    background-color: #a68826;
    border: none;
    color: white;
}
.ratings p:nth-of-type(1){
    margin-right: 1rem;
}
.ratings p:nth-of-type(1) button{
    border-radius: 3px 3px 0 3px;  
}
.ratings p:nth-of-type(2){
    font-size: 11.6px;
}
.card-button{
    color: #a68826;
    border: 1px solid #a68826;
    width: 95%;
    padding: 5.9px 0;
    font-size: 11px;
}
.card-button:hover{
    background-color: #f0e4bd;
    cursor: pointer;
}
.city-card{
    width: 100%;
}

/* RESPONSIVE *********************/

@media screen and (max-width:425px){
    .cityhomestay1 img{
        width: 8.1rem;
    height: 9.3rem;
    }
    .city-card-title{
        font-size: 15.3px;
    }
}
@media screen and (max-width:375px) {
    .cityhomestay1 img {
        width: 7.5rem;
        height: 8.4rem;
    }
    .city-card-title{
        font-size: 13.5px;
    }
    .city-card{
        width: 90%;
    }
    .card-subtitle{
        font-size: 11.9px;
    }
    .card-text{
        font-size: 12.1px;
    }
}

@media screen and (max-width:320px){
    .cityhomestay1 img {
        width: 6.4rem;
        height: 8rem;
    }
}