.hotels{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1.7rem;
}
.hotelWrapper{
    width: 100%;
    max-width: 1024px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    position: relative;
}
.hotelImages{
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
}
.hotelImageWraper{
    width: 33%;
}
.hotelImg{
    width: 100%;
    object-fit: cover;
    cursor: pointer;
}
.hotelTitle{
    font-size: 25px;
}
.location{
    margin-top: -10.5px;
}
.distance{
    font-size: 16px;
    font-weight: 600;
    color: #1b1a1a;
}
.subtitle{
    font-size: 16px;
    font-weight: 600;
    color: #379237;
}
.bookBtn{
    position: absolute;
    right: 0.8rem;
    top: 4rem;
    width: 11.6rem;
    border: none;
    background-color: #a68826;
    color: white;
    height: 2.4rem;
    border-radius: 5px;
    font-size: 15px;
}
.bookBtn:hover{
    cursor: pointer;
    color: #d7b23a;
}

.hotelDetails{
    display: flex;
}
.leftHotelDetails{
    flex: 3;
    font-size: 14.5px;
    font-weight: 500;
}
.rightHotelDetails{
    flex: 1;
    padding: 5px 20px;
    background-color: #fdf6e9;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.reserveBtn{
    width: 100%;
    border: none;
    background-color: #a68826;
    color: white;
    height: 2.4rem;
    border-radius: 5px;
    font-size: 15px; 
}
.reserveBtn:hover{
    cursor: pointer;
    color: #d7b23a;
}
.slider{
    position: sticky;
    top: 0;
    left: 0;
    width:90vw;
    height: 100vh;
    z-index: 999;
    display: flex;
    align-items: center;
    background-color: #00000078;
}
.sliderWraper{
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
}
.sliderImg{
    width: 80%;
    height: 80vh;
}
.exit{
    position: absolute;
    top: 1rem;
    right: 6.6rem;
    font-size: 30px;
    color: white;
    cursor: pointer;
}
.leftArrow{
    position: absolute;
    top: 17.2rem;
    left: 2.7rem;
    font-size: 50px;
    color: white;
    cursor: pointer;
}
.rightArrow{
    position: absolute;
    top: 17.2rem;
    right: 2.7rem;
    font-size: 50px;
    color: white;
    cursor: pointer;
}
.hotel-blank{
    margin: 5rem 15rem;
    min-height: 280px;
}


/* RESPONSIVE **************************************/

@media screen and (max-width:768px) {
    .hotelImageWraper{
        width: 49.5%;
    }
    .hotels{
        margin: 0 10px;
    }
    .bookBtn{
        top: 1.1rem;
    }
}
@media screen and (max-width:768px) {
    .hotelImageWraper{
        width: 99.5%;
    }
    .bookBtn{
        width: 7.1rem;
        font-size: 12.7px;
    }
}
@media screen and (max-width:320px){
    .bookBtn{
        width: 4.7rem;
    }
    .reserveBtn{
        height: 4.1rem;
    }
}
